<a href="https://colab.research.google.com/github/lenmal/Datova_akademie/blob/Main/Python/Projekt_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!pip install pymysql
import pandas as pd
import sqlalchemy as sql

conn_string="mysql+pymysql://student:p7@vw7MCatmnKjy7@data.engeto.com/data"
alchemy_conn=sql.create_engine(conn_string)

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [14]:
query = "select * from edinburgh_bikes"
edinbikes_df = pd.read_sql(query, alchemy_conn)
edinbikes_df.head(5)

   index          started_at  ... end_station_latitude  end_station_longitude
0      0 2018-09-15 08:52:05  ...            55.954728              -3.192653
1      1 2018-09-15 09:24:33  ...            55.962804              -3.196284
2      2 2018-09-15 09:48:54  ...            55.977638              -3.174116
3      3 2018-09-16 12:01:36  ...            55.923479              -3.175385
4      4 2018-09-16 12:03:43  ...            55.923202              -3.171646

[5 rows x 14 columns]

In [13]:
edinbikes_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340986 entries, 0 to 340985
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      340986 non-null  int64
 1   started_at                 340986 non-null  datetime64[ns]
 2   ended_at                   340986 non-null  datetime64[ns]
 3   duration                   340986 non-null  int64
 4   start_station_id           340986 non-null  int64
 5   start_station_name         340986 non-null  object
 6   start_station_description  338612 non-null  object
 7   start_station_latitude     340986 non-null  float64
 8   start_station_longitude    340986 non-null  float64
 9   end_station_id             340986 non-null  int64
 10  end_station_name           340986 non-null  object
 11  end_station_description    338426 non-null  object
 12  end_station_latitude       340986 non-null  float64
 13  end_station_longitude      340986 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(4), object(4)
memory usage: 36.4+ MB